@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');
:root {
  --bgcolor: linear-gradient(90deg, rgba(219,219,219,0.8914916308320203) 0%, rgba(255,255,255,0.9783263647255778) 34%, rgba(255,255,255,1) 100%);
  --bgcolor-rev:linear-gradient(90deg, rgba(255,255,255,1) 100%, rgba(255,255,255,0.9783263647255778) 34%, rgba(219,219,219,0.8914916308320203) 0%);
  --orangeGradient: linear-gradient(to top right, #FFBF00 0%, #F05E23 50%);
}
*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body{
  background: white; /*this is the background*/
  overflow: hidden;
}
.wrapper{
  margin: 10px;
}
.wrapper .top_navbar{
  width: calc(100% - 20px);
  height: 60px;
  display: flex;
  position: fixed;
  top: 10px;
}

.wrapper .top_navbar .hamburger{
  width: 70px;
  height: 100%;
  background: white;  /*hamburger er background color*/
  padding: 15px 17px;
  border-top-left-radius: 20px;
  cursor: pointer;
}

.wrapper .top_navbar .hamburger div{
  width: 35px;
  height: 4px;
  background: var(--orangeGradient); /*hamburger er nijer color*/
  margin: 5px 0;
  border-radius: 5px;
}

.wrapper .top_navbar .hamburger:hover{
    color: white;
    border: .1px solid #F05E23;
    
   filter: drop-shadow(0px 0px 25px #F05E23);
   transition-duration: 0.7s;
}


.wrapper .top_navbar .top_menu{
  width: calc(100% - 70px);
  height: 100%;
  background: #fff; /*brand name bar er background color*/
  border-top-right-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.wrapper .top_navbar .top_menu .logo{
  color: #F05E23;  /*brand name er text color*/
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 3px;
}


.wrapper .top_navbar .top_menu ul{
  display: flex;
}

.wrapper .top_navbar .top_menu ul li a{
  display: block;
  margin: 0 10px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border: 1px solid #F05E23; /*this is the smart card orange*/
  border-radius: 50%;
  color: #F05E23; /*right side er choto logo gular color*/
}

 .userName{
margin-top: 8px;
margin-right: 5px;
 color: #F05E23;
  font-weight: 600;
}

 .userName:hover{
   color: #F05E23;
  text-decoration: underline;
   font-weight: 700;
}

.wrapper .top_navbar .top_menu ul li a:hover{
  background: var(--orangeGradient); /*choto logor hover*/
  color: #fff;
}

.wrapper .top_navbar .top_menu ul li a:hover i{
  color: white; /*choto logor nijer color*/
}

.wrapper .sidebar{
  position: fixed;
  top: 70px;
  left: 10px;
  background: var(--orangeGradient); /*side bar er nijer color*/
  width: 200px;
  height: calc(100% - 80px);
  border-bottom-left-radius: 20px;
  transition: all 0.3s ease;
}

.wrapper .sidebar ul li a{
    display: block;
    padding: 20px;
    position: relative;
    margin-bottom: 1px;
    color: white; /*sidebar er link gular text color*/
    font-weight: 600;
    white-space: nowrap;
}

.wrapper .sidebar ul li a:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background: #92a6e2; /*????????????????????????????????*/
  display: none;
}

.wrapper .sidebar ul li a span.icon{
  margin-right: 10px;
  display: inline-block;
}

.wrapper .sidebar ul li a span.title{
  display: inline-block;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active{
  background: white;  /*sidebar er menus er hover background*/
  color: #F05E23; /*sidebar er menus er text color*/
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before{
  display: block;
}

.wrapper .main_container{
  width: (100% - 200px);
  margin-top: 70px;
  margin-left: 200px;
  padding: 15px;
  transition: all 0.3s ease;
}

.wrapper .main_container .item{
  background: #fff;
  margin-bottom: 10px;
  padding: 15px;
  font-size: 14px;
  line-height: 22px;
}

.wrapper.collapse .sidebar{
  width: 70px;
}

.wrapper.collapse .sidebar ul li a{
  text-align: center; 
}

.wrapper.collapse .sidebar ul li a span.icon{
  margin: 0;
}

.wrapper.collapse .sidebar ul li a span.title{
  display: none;
}

.wrapper.collapse .main_container{
  width: (100% - 70px);
  margin-left: 70px;
}


#wallet,#logout{
  display: none;
}

.item h1{
  color: black;
  margin-left: 180px;
  padding-bottom: 20px;

}

table{
 overflow-y:scroll;
   height:580px;
   display:block;
border-radius: 50px;
background: #ffffff;
box-shadow: inset 8px 8px 16px #cccccc, 
            inset -8px -8px 16px #ffffff;
}


table::-webkit-scrollbar {
    display: none;
}

th{
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
  padding: 20px;
  color: white;
  background: #F05E23;
}

td{
  padding: 50px;
  color: black;
}

.addBTN{
  transition-duration: 0.7s;
    color: white;
    text-align: center;
    font-size: 19px;
    transition-duration: 0.7s;
    cursor: pointer;
    background: white;
    font-weight: 700;
    color: #fc7303; 
    border-width: 5px;
    border-style: solid;
    border-image: linear-gradient(to top right, #FFBF00 0%, #F05E23 50%) 1;
    width: 250px;
    height: 70px;
    margin-left: 900px;
    margin-top: -70px;
    
}

.addBTN:hover{
  transition-duration: 0.7s;
  color: white;
    border: .1px solid #F05E23;
    background: linear-gradient(to top right, #FFBF00 0%, #F05E23 50%);
    border-radius: 0px;
    filter: drop-shadow(0px 0px 25px #F05E23);
    transition-duration: 0.7s;
}

.editBTN{

   transition-duration: 0.7s;
    color: white;
    text-align: center;
    font-size: 15px;
    transition-duration: 0.7s;
    cursor: pointer;
    background: white;
    font-weight: 600;
    color: #fc7303; 
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to top right, #FFBF00 0%, #F05E23 50%) 1;
    width: 100px;
    height: 30px;

}


.editBTN:hover{
  transition-duration: 0.7s;
  color: white;
    border: .1px solid #F05E23;
    background: linear-gradient(to top right, #FFBF00 0%, #F05E23 50%);
    border-radius: 0px;
    filter: drop-shadow(0px 0px 10px #F05E23);
    transition-duration: 0.7s;
}



/*------------------------------Modal Area-----------------------------------------------*/
 .modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); /* Opacity here */
}


.modal-content {
  position: relative;
  background-color: white;
  color: black;
  margin: auto;
  padding: 0;
  /*border: 1px solid pink;*/
  width: 80%;
/*  box-shadow: 0 4px 8px 0 #F05E23,0 6px 20px 0 #F05E23;*/
border-radius: 25px;
background: #ffffff;
box-shadow: inset 8px 8px 16px #cccccc, 
            inset -8px -8px 16px #ffffff;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}


@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}


.close {
  color: red;
  float: right;
  font-size: 35px;
  font-weight: bold;
  filter: drop-shadow(0px 0px 10px #F05E23);
}

.close:hover,
.close:focus {
  color: #F05E23;
  text-decoration: none;
  cursor: pointer;
  filter: drop-shadow(0px 0px 10px #F05E23);
}

.modal-header {
  padding: 2px 16px;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;

  color: white;
}