*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
  --bgcolor: linear-gradient(90deg, rgba(219,219,219,0.8914916308320203) 0%, rgba(255,255,255,0.9783263647255778) 34%, rgba(255,255,255,1) 100%);
  --bgcolor-rev:linear-gradient(90deg, rgba(255,255,255,1) 100%, rgba(255,255,255,0.9783263647255778) 34%, rgba(219,219,219,0.8914916308320203) 0%);
  --orangeGradient: linear-gradient(to top right, #FFBF00 0%, #F05E23 100%);
}

body{
	overflow-x: hidden; /*to keep from flowing out vertically*/
  font-family: 'Open Sans', sans-serif;
  background: var(--orangeGradient);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
overflow: hidden;
}

.circle{
	  animation: animatebg 12s ease-in-out infinite;
	background-color: white;
	height: 700px;
	width: 700px;
	color: white;
	margin: auto;
	margin-top: 15px;
 
}

.passImg{
	width: 350px;
	text-align: center;
	margin-top: 50px;
	margin-left: 175px;

}

.strtBTN{
	transition-duration: 0.5s;
	  color: white;
	  text-align: center;
	  font-size: 19px;
	  transition-duration: 0.5s;
	  cursor: pointer;
	  background: white;
	  font-weight: 700;
	  color: #fc7303; 
	  border-width: 5px;
	  border-style: solid;
	  border-image: linear-gradient(to top right, #FFBF00 0%, #F05E23 50%) 1;
	  
	  width: 250px;
	  height: 70px;
	  margin-left: 650px;
	  margin-top: 25px;
	  
}

.strtBTN:hover{
	transition-duration: 0.5s;
	color: white;
	 	border: .1px solid #F05E23;
	  background: linear-gradient(to top right, #FFBF00 0%, #F05E23 70%);
	  border-radius: 0px;
	  filter: drop-shadow(0px 0px 25px #F05E23);
	}
.backBTN{
	  color: white;
	  text-align: center;
	  font-size: 19px;
	  transition-duration: 0.5s;
	  cursor: pointer;
	  background: white;
	  font-weight: 700;
	  color: #fc7303; 
	  border-width: 5px;
	  border-style: solid;
	  border-image: linear-gradient(to top right, #FFBF00 0%, #F05E23 50%) 1;
	  
	  width: 250px;
	  height: 70px;
	  margin-left: 570px;
	  margin-top: 25px;
}

.backBTN:hover{
	transition-duration: 0.5s;
	color: white;
	 	border: .1px solid #F05E23;
	  background: linear-gradient(to top right, #FFBF00 0%, #F05E23 70%);
	  border-radius: 0px;
	  filter: drop-shadow(0px 0px 25px #F05E23);
}


.tryText p{
	color: black;
	font-size: 40px;
	font-weight: 700;
	margin-left: 510px;
	margin-top: -300px;
	letter-spacing: .07rem;

}

.funds{
	margin-left: 80px;
}


@keyframes animatebg{
  0%,100%{
    border-radius: 5%;
  }
  25%{
    border-radius: 25%;
  }
  50%{
    border-radius: 50%;
  }
  75%{
    border-radius: 25%;
  }
}