body{
	   overflow: hidden;
}

.gif{
	/*transform: rotate(-45deg);*/
	transform: scale(1.5, 1.5)
			   rotate(-80deg);

   margin-left: -120px;
}

.logoClass img{
	height: 5rem; 
	transition: .75s 
	margin-left: 6rem;
	margin-top: 2rem;
	font-weight: 800;
}




.brand-name1{
	margin-left: 8.5rem;
	margin-top: -4.75rem;
	font-weight: 800;
	font-size: 25px;
}

#logo1{
  height: 35px;
  color: black;
  padding-left: 2.5rem;
}

#logo1:hover{
  color: #F05E23;
  text-decoration: underline;
}


.moveLogo{
	/*transform: translate(950px, 200px);*/
	margin-left: 950px;
	margin-top: -400px;
}

.inputBox{
	color: rgb(179, 178, 177);
	height: 200px;
	width: 500px;
	padding-left: 50px;
	padding-top: 5px;
	border: 0px solid black;
	border-radius: 35px;
	margin-left: 870px;
	margin-top: 3rem;
	-webkit-box-shadow: -1px 2px 83px -18px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 2px 83px -18px rgba(0,0,0,0.75);
	box-shadow: -1px 2px 83px -18px rgba(0,0,0,0.75);
}



.textbox{
  width: 85%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 2px solid rgb(179, 178, 177);
}

.textbox:hover{
 color: rgba(240, 94, 35,1);
  border-bottom: 2px solid rgba(240, 94, 35,1);
}

.textbox i{
	/*color: rgb(179, 178, 177);*/
  	width: 26px;
  	float: left;
  	text-align: center;
}


.textbox input{
  border: none;
  outline: none;
  background: none;
  color: black;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
}

.gap{
	margin-left: 50px;
}
.radiobtn{
	color: black;
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;

}

.radiobtn:hover{
  color: rgba(240, 94, 35,1);
/*  border-bottom: 2px solid rgba(240, 94, 35,1);*/
}


.loginBTN{
	transition-duration: 0.7s;
	  color: white;
	  text-align: center;
	  font-size: 19px;
	  transition-duration: 0.7s;
	  cursor: pointer;
	  background: white;
	  font-weight: 700;
	  color: #fc7303; 
	  border-width: 5px;
	  border-style: solid;
	  border-image: linear-gradient(to top right, #FFBF00 0%, #F05E23 50%) 1;  
	  width: 500px;
	  height: 70px;
	  margin-left: 870px;
	  margin-top: 3rem;
}

.loginBTN:hover{
	transition-duration: 0.7s;
	color: white;
	 	border: .1px solid #F05E23;
	  background: linear-gradient(to top right, #FFBF00 0%, #F05E23 50%);
	  border-radius: 0px;
	  filter: drop-shadow(0px 0px 25px #F05E23);
	  transition-duration: 0.7s;
}


